{{#if SUCCESS_MESSAGE}}
  <div class="alert alert-success">
    {{SUCCESS_MESSAGE}}
  </div>
{{/if}}
{{#if ERRORS_MESSAGE}}
  <div class="alert alert-danger">
    {{ERRORS_MESSAGE}}
  </div>
{{/if}}
<section id="errors">
  {{#if error}}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {{/if}}
</section>